@{
    ViewData["Title"] = "Предназначение сайа";
}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        <!--
        .tab {
            text-indent: 40px
        }
    </style>
    <title>Про сайт </title>
</head>
    <body       style="    background-color: LightPink;">
        <div>
            <h1>Предназначение сайта:</h1>
            <form method="post">
                <h4 p class="tab">  Если честно сайт был создан чисто для практики и оттачивании умений. Изначальная версия была создана за два вечера(но я к тому времени я уже имел основные знания и просто не хватало практики). После создания данного сайта уже понял свои прошлые ошибки и заполнил пробелы в моих знаниях.</h4>
                <br>
                <h4  p class="tab"> Всем спасибо)</h4>
            </form>
        </div>
    </body>
</html>