@model IEnumerable<SomeGoroscopes.Models.ZSign>
@{
    ViewData["Title"] = "Каталог зодиаков";
}
<html>
<head>
    <title>Гороскоп  </title>
</head>
<body style="    background-color: LightPink;
    ">
    <div>
        <h2 style="color:black;">Знаки зодиака</h2>
        <hr>
        <br>
        <table class="table-condensed" bordercolor="black" border="1" width="70%">



            <tr>


                <td ><a style="color:black;" href="~/Home/Watch1/1">Овен</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/aries/aries_PNG46.png" width="100" height="90" hspace="300" vspace="4" >
                </td>

            </tr>


            <tr>
                <td><a style="color:black"; href="~/Home/Watch1/2">Телец</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/taurus/taurus_PNG31.png" width="100" height="90" hspace="300" vspace="4">
                </td>
            </tr>


            <tr>
                <td><a style="color:black" href="~/Home/Watch1/3">Близнецы</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/gemini/gemini_PNG42.png" width="100" height="90" hspace="300" vspace="4">
                </td>
            </tr>

            <tr>
                <td><a style="color:black" href="~/Home/Watch1/4">Рак</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/cancer_zodiac/cancer_zodiac_PNG44.png" width="100" height="90" hspace="300" vspace="4">
                </td>
            </tr>

            <tr>
                <td><a style="color:black"href="~/Home/Watch1/5">Лев</a></td>

                <td>
                    <img src="http://pngimg.com/uploads/leo/leo_PNG19.png" width="100" height="90" hspace="300" vspace="4">
                </td>
            </tr>

            <tr>
                <td><a style="color:black" href="~/Home/Watch1/6">Дева</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/virgo/virgo_PNG28.png" width="100" height="90" hspace="300" vspace="4">
                </td>

            </tr>
            <tr>
                <td><a style="color:black" href="~/Home/Watch1/7">Весы</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/libra/libra_PNG43.png" width="100" height="90" hspace="300" vspace="4">
                </td>

            </tr>
            <tr>
                <td><a style="color:black" href="~/Home/Watch1/8">Скорпион</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/scorpio/scorpio_PNG31.png" width="100" height="90" hspace="300" vspace="4">
                </td>

            </tr>
            <tr>
                <td><a style="color:black" href="~/Home/Watch1/9">Стрелец</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/sagittarius/sagittarius_PNG74.png" width="100" height="90" hspace="300" vspace="4">
                </td>

            </tr>
            <tr>
                <td><a style="color:black" href="~/Home/Watch1/10">Козерог</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/capricorn/capricorn_PNG48.png" width="100" height="90" hspace="300" vspace="4">
                </td>

            </tr>
            <tr>
                <td><a style="color:black" href="~/Home/Watch1/11">Водолей</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/aquarius/aquarius_PNG27.png" width="100" height="90" hspace="300" vspace="4">
                </td>
            </tr>
            <tr>
                <td><a style="color:black" href="~/Home/Watch1/12">Рыбы</a></td>
                <td>
                    <img src="http://pngimg.com/uploads/pisces/pisces_PNG15.png" width="100" height="90" hspace="300" vspace="4">
                </td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
</html>


